.single-product-container {
  padding: 30px;
  border: 4px #cccccc dotted;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin: 90px 0px 0px 0px;
}
.product-name{
font-weight: 1000;
color: black;
}
.product-image{
width: 100%;
}
.product-price{
 color: rgb(247,149,29);
 font-weight: 1000;
 font-size: larger;
}
.right{
    margin: 20px;
}
.product-button{
  height: 70px;
  width: 70px;
  margin-right: 20px;
  border-radius: 100%;
  border: 1px solid #cccccc;
  background: white;
}
.grouped-price-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bi-cart-dash:hover{
  background-color: orange;
}